#title{

   color:rgba(137, 43, 226, 0.012)
    
    }
 
    
    .blue{
    
    color:rgba(255, 127, 221, 0.089)
    
    }
    
 
    h2{
    
     color:rgb(3, 25, 28)
    
    }
    
  
    body{
    
   background-color: rgba(220, 211, 217, 0.442);
    
   color:rgb(37, 49, 181)
    
    }
    
   
    header{
    
    background-color: rgba;
    
    }