#title{

   color:blueviolet
    
    }
 
    
    .blue{
    
    color:rgb(255, 127, 221)
    
    }
    
 
    h2{
    
     color:rgb(255, 17, 0)
    
    }
    
  
    body{
    
   background-color: rgb(233, 79, 181);
    
   color:rgb(37, 49, 181)
    
    }
    
   
    header{
    
    background-color: rgb(255, 0, 195);
    
    }